body{
    color: black;
    background-color: rgba(88, 88, 74, 0.171);                             /*new command*/
    font-family: 'Roboto', sans-serif;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.b1 {
    height:40px;
    width:100px;
    background: rgba(102, 102, 105, 0.336); /* цвет фона */
    color: rgb(0, 0, 0); /* Белые буквы */
    font-size: 9pt; /* Размер шрифта в пунктах */
    border-radius: 15px;

}